# Second SHAMAN instance for node3 experiments
version: "3.1"

services:
  mongo-node3:
    image: mongo:4.0
    container_name: mongo-node3
    hostname: mongo-node3
    volumes:
      - /shaman/mongo_data_node3:/data/db
    restart: on-failure
    ports:
      - "27021:27017"
    expose:
      - 27017
    command: mongod --bind_ip 0.0.0.0 --replSet rs0

  mongo_init_node3:
    image: mongo:4.0
    container_name: mongo_init_node3
    restart: on-failure
    depends_on:
      - mongo-node3
    command: >
      mongo
      --host mongo-node3
      --eval 'rs.initiate({_id: "rs0", members: [{_id: 0, host : "mongo-node3:27017"}]})'

  api-node3:
    image: sphrbthyk/shaman-api:dev
    container_name: api-node3
    privileged: true
    hostname: api-node3
    command: uvicorn shaman_api:app --port 5000 --host 0.0.0.0
    environment:
      - MONGO_HOST=mongo-node3
    ports:
      - "5002:5000"

  redis-node3:
    image: redis:latest
    container_name: redis-node3
    ports:
      - "6380:6379"
